* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.container > div {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  display: flex;
}
